# 1. Basic parameter substitution

### 1.1 SQL query context


    select
        user_id
        , count(*) as num_transactions
        , sum(amount) as total_amount
    from
        transactions
    where
        user_id = 1234
        and transaction_date = '2019-03-02'
    group by
        user_id

### 1.2 Jinja python query context

In [37]:
"""
Ecrire la requête sous forme de string
indiquer les variables avec un nom et double braques
"""

user_transaction_template = '''
select
    user_id
    , count(*) as num_transactions
    , sum(amount) as total_amount
from
    transactions
where
    user_id = {{ user_id }}
    and transaction_date = {{ transaction_date }}
group by
    user_id
'''

variables names = names enclosed in double curly braces {{ }}

In [38]:
params = {
    'user_id': 1234,
    'transaction_date': '2019-03-02',
}

# 3. RUN JinjaSql from template to final SQL query

In [15]:
"""
Import de la librairie
instanciation de la class JinjaSql
"""

from jinjasql import JinjaSql
j = JinjaSql(param_style='pyformat')

### 3.1 Get query/params from prepare_query function

In [17]:
query, bind_params = j.prepare_query(user_transaction_template, params)
print("#"*10)
print("La query : ")
print("#"*10)
print(query)
print("-------------------------")
print("#"*10)
print("les paramètres : ")
print("#"*10)
print(bind_params)

##########
La query :
##########

select
    user_id
    , count(*) as num_transactions
    , sum(amount) as total_amount
from
    transactions
where
    user_id = %(user_id_1)s
    and transaction_date = %(transaction_date_2)s
group by
    user_id
-------------------------
##########
les paramètres :
##########
{'user_id_1': 1234, 'transaction_date_2': '2019-03-02'}

## 3.2 Génération de la requête finale

In [24]:
"""
La requête avec les paramètres !
"""
print(query % bind_params)

select
    user_id
    , count(*) as num_transactions
    , sum(amount) as total_amount
from
    transactions
where
    user_id = 1234
    and transaction_date = 2019-03-02
group by
    user_id

### 3.3 Moduler la génération de la requête via une fonction

In [44]:
"""
recall
of inputs function
"""
print("args query : ")
print(user_transaction_template)
print()
print("params : ")
print(params)

args query :

select
    user_id
    , count(*) as num_transactions
    , sum(amount) as total_amount
from
    transactions
where
    user_id = {{ user_id }}
    and transaction_date = {{ transaction_date }}
group by
    user_id


params :
{'user_id': 1234, 'transaction_date': '2019-03-02'}

In [45]:
from jinjasql import JinjaSql
j = JinjaSql(param_style='pyformat')

def get_sql_query_from_template_and_params(args_query, dict_params):
    query, bind_params = j.prepare_query(user_transaction_template, params)
    return query % bind_params

with open('out.csv', 'w') as file_out:
    file_out.write(get_sql_query_from_template_and_params(user_transaction_template, params))
    file_out.close()